extends ~modules/dialog/tpls/layout.pug
block title
    | test
block content 
    form(nl-form='$ctrl.promise', ng-submit='form.$ready && $ctrl.submit()', name='form', novalidate)
        block controls
            .row
                .col-xs-12
                    nl-input-container.form-group
                        input.form-control.placeholder-no-fix(nl-input-remote-set, type='text', name='firstname', ng-model='$ctrl.request.firstname', translate, translate-attr-placeholder='USER.FORM.FIRSTNAME')
                        nl-validation-messages(label='USER.FORM.FIRSTNAME')
            .row
                .col-xs-12
                    nl-input-container.form-group
                        input.form-control.placeholder-no-fix(nl-input-remote-set, type='text', name='lastname', ng-model='$ctrl.request.lastname', translate, translate-attr-placeholder='USER.FORM.LASTNAME')
                        nl-validation-messages(label='USER.FORM.LASTNAME')
            .row
                .col-xs-12
                    nl-input-container.form-group
                        input.form-control.placeholder-no-fix(nl-input-remote-set, type='text', name='email', ng-model='$ctrl.request.email', translate, translate-attr-placeholder='USER.FORM.EMAIL')
                        nl-validation-messages(label='USER.FORM.EMAIL')
            .row
                .col-xs-12
                    nl-input-container.form-group
                        input.form-control.placeholder-no-fix(nl-input-remote-set, type='password', name='password', ng-model='$ctrl.request.password', translate, translate-attr-placeholder='USER.FORM.PASSWORD')
                        nl-validation-messages(label='USER.FORM.PASSWORD')
                        block password_hint
            .row
                .col-xs-12
                    nl-input-container.form-group
                        input.form-control.placeholder-no-fix(nl-input-remote-set, type='password', name='password_confirmation', ng-model='$ctrl.request.password_confirmation', translate, translate-attr-placeholder='USER.FORM.PASSWORD_CONFIRMATION')
                        nl-validation-messages(label='USER.FORM.PASSWORD_CONFIRMATION')
            .row
                .col-xs-12
                    nl-input-container.form-group
                        select.form-control(nl-input-remote-set, name='role', ng-model='$ctrl.request.role', translate, translate-attr-placeholder='USER.FORM.EMAIL')
                            option(value='manager', selected, translate='USER.FORM.ROLES.MANAGER')
                            option(value='admin', translate='USER.FORM.ROLES.ADMIN')
                        nl-validation-messages(label='USER.FORM.ROLE')
block actions
    button.btn.default(ng-click="$ctrl.reject()", translate='DIALOG.BUTTONS.CANCEL')
    button.btn.btn-success(ng-click="form.$ready && $ctrl.submit()", ng-disabled='!form.$ready', ladda='form.$loading', translate='DIALOG.BUTTONS.OK')
        