.portlet
    .portlet-title.tabbable-line
        .caption
            i.fa.fa-sticky-note-o 
            translate TICKET.GRID.CONTENT
    .portlet-body(ng-class='{"no-content": $ctrl.ticket.content == ""}')
        pre.ticket-content {{ ::$ctrl.ticket.content || 'no content'}}
nlc-ticket-comments(ticket='$ctrl.ticket')