nlc-ticket-view {
    display: block;
    background: white;
    margin:-5px;
    padding: 5px;
    .no-content {
        text-decoration: line-through;
    }
    .ticket-content {
        background:white;
        border:none;
        padding:0;
    }
}