extends ~modules/dialog/tpls/layout.pug
block title
    translate TICKET.FORM.STATUS.TITLE
block content 
    form(nl-form='$ctrl.promise', ng-submit='form.$ready && $ctrl.submit()', name='form', novalidate)
        .row
            .col-xs-12
                nl-input-container.form-group
                    select.form-control(nl-input-remote-set, name='status', ng-model='$ctrl.request.status', translate, translate-attr-placeholder='TICKET.FORM.FIELDS.STATUS')
                        option(value='new', selected, translate='TICKET.FORM.FIELDS.STATUSES.NEW')
                        option(value='pending', selected, translate='TICKET.FORM.FIELDS.STATUSES.PENDING')
                        option(value='resolved', translate='TICKET.FORM.FIELDS.STATUSES.RESOLVED')
                    nl-validation-messages(label='TICKET.FORM.FIELDS.STATUS') 
        .row
            .col-xs-12
                nl-input-container.form-group
                    textarea.form-control(nl-input-remote-set, name='comment', ng-model='$ctrl.request.comment', translate, translate-attr-placeholder='TICKET.FORM.FIELDS.COMMENT')
                    nl-validation-messages(label='TICKET.FORM.FIELDS.COMMENT') 
block actions
    button.btn.default(ng-click="$ctrl.reject()", translate='DIALOG.BUTTONS.CANCEL')
    button.btn.btn-success(ng-click="form.$ready && $ctrl.submit()", ng-disabled='!form.$ready', ladda='form.$loading', translate='DIALOG.BUTTONS.OK')
        