extends ~modules/dialog/tpls/layout.pug
block title
    translate TICKET.FORM.STORE.TITLE
block content 
    form(nl-form='$ctrl.promise', ng-submit='form.$ready && $ctrl.submit()', name='form', novalidate)
        block controls
            .row
                .col-xs-12
                    nl-input-container.form-group
                        input.form-control.placeholder-no-fix(nl-input-remote-set, type='text', name='name', ng-model='$ctrl.request.name', translate, translate-attr-placeholder='TICKET.FORM.FIELDS.NAME')
                        nl-validation-messages(label='TICKET.FORM.FIELDS.NAME')
            .row
                .col-xs-12
                    nl-input-container.form-group
                        input.form-control.placeholder-no-fix(nl-input-remote-set, type='text', name='email', ng-model='$ctrl.request.email', translate, translate-attr-placeholder='TICKET.FORM.FIELDS.EMAIL')
                        nl-validation-messages(label='TICKET.FORM.FIELDS.EMAIL')
            .row
                .col-xs-12
                    nl-input-container.form-group
                        input.form-control.placeholder-no-fix(nl-input-remote-set, type='text', name='subject', ng-model='$ctrl.request.subject', translate, translate-attr-placeholder='TICKET.FORM.FIELDS.SUBJECT')
                        nl-validation-messages(label='TICKET.FORM.FIELDS.SUBJECT')
            .row
                .col-xs-12
                    nl-input-container.form-group
                        textarea.form-control.placeholder-no-fix(nl-input-remote-set, rows='5', name='content', ng-model='$ctrl.request.content', translate, translate-attr-placeholder='TICKET.FORM.FIELDS.CONTENT')
                        nl-validation-messages(label='TICKET.FORM.FIELDS.CONTENT')
block actions
    button.btn.default(ng-click="$ctrl.reject()", translate='DIALOG.BUTTONS.CANCEL')
    button.btn.btn-success(ng-click="form.$ready && $ctrl.submit()", ng-disabled='!form.$ready', ladda='form.$loading', translate='DIALOG.BUTTONS.OK')
        