.portlet
    .portlet-title
        .caption
            i.fa.fa-comments-o 
            translate TICKET.COMMENTS.TITLE
    .portlet-body
        nl-data-progress(promise='$ctrl.promise')    
        .mt-comments(nl-data='$ctrl.request', on-refresh='$ctrl.refresh()')
            .mt-comment(ng-repeat='row in $ctrl.data')
                .mt-comment-body
                    .mt-comment-info
                        .mt-comment-author {{ ::row.user.fullname }}
                        .mt-comment-date 
                            time-ago(from-time='{{::row.created_at}}')
                    .mt-comment-text {{ ::row.content }}
            .mt-comment
                .mt-comment-body
                    form(nl-form='$ctrl.sp', ng-submit='form.$ready && $ctrl.store()', name='form', novalidate)
                        .row
                            .col-xs-11
                                nl-input-container.form-group
                                    textarea.form-control(nl-input-remote-set, name='content', ng-model='$ctrl.request.content', translate, translate-attr-placeholder='TICKET.FORM.FIELDS.COMMENT')
                                    nl-validation-messages(label='TICKET.FORM.FIELDS.COMMENT') 
                            .col-xs-1
                                button.btn.btn-success(ng-click="form.$ready && $ctrl.store()", ng-disabled='!form.$ready', ladda='form.$loading', data-style='zoom-in', data-spinner-color='#000000') Send
        