.portlet.box.mt-bootstrap-tables
    .portlet-title
        .caption
            i.fa.fa-ticket.grey-steel
        .actions-custom
            .btn-group.btn-group-devided
                button.btn.purple-medium(nl-promise-click='$ctrl.import()', ng-if='$ctrl.policy.import()', promising='ip', ng-disabled='ip', ladda='ip')
                    i.fa.fa-hdd-o(aria-hidden='true') 
                    translate TICKET.GRID.ACTIONS.IMPORT
                    .badge {{ $ctrl.imports.count }}
                    //- time-ago(from-time='{{ $ctrl.imports.updated_at }}')
                button.btn.green-haze(nl-promise-click='$ctrl.store()', ng-if='$ctrl.policy.store()', promising='sdp', ng-disabled='sdp', ladda='sdp')
                    i.fa.fa-plus(aria-hidden='true') 
                    translate TICKET.GRID.ACTIONS.STORE
                
                
    .portlet-body
        nl-data-progress(promise='$ctrl.promise')
        table.table.table-condensed.table-striped.table-advance.table-bordered.table-hover(nl-data='$ctrl.request', on-refresh='$ctrl.refresh()')
            thead
                tr
                    th.nl-data-sortable.col-sm-1(nl-data-order-by='id') #
                    th.nl-data-sortable.col-sm-2(nl-data-order-by='requester.name')
                        translate TICKET.GRID.NAME
                    th.nl-data-sortable.col-sm-2(nl-data-order-by='requester.email')
                        translate TICKET.GRID.EMAIL
                    th.nl-data-sortable.col-sm-3(nl-data-order-by='subject')
                        translate TICKET.GRID.SUBJECT
                    th.nl-data-sortable.col-sm-1(nl-data-order-by='status')
                        translate TICKET.GRID.STATUS
                    th.nl-data-sortable.col-sm-2(nl-data-order-by='created_at')
                        translate TICKET.GRID.CREATED_AT
                    th.col-sm-1.text-center
                        button.btn.btn-success.btn-xs.blue-ebonyclay(ng-click='$ctrl.refresh()', nl-promise='$ctrl.promise', promising='loading', ng-disabled='loading', ladda='loading', data-style='zoom-in', data-spinner-color='#FFFFFF')
                            i.fa.fa-refresh
            thead
                tr
                    td
                        //- input.form-control(type='text', ng-model='$ctrl.request.id', name='id', nl-data-filter, ng-model-options='{ debounce: 500 }')
                    td
                        input.form-control(type='text', ng-model='$ctrl.request.name', name='name', nl-data-filter, ng-model-options='{ debounce: 500 }')
                    td
                        input.form-control(type='text', ng-model='$ctrl.request.email', name='email', nl-data-filter, ng-model-options='{ debounce: 500 }')
                    td
                        input.form-control(type='text', ng-model='$ctrl.request.subject', name='subject', nl-data-filter, ng-model-options='{ debounce: 500 }')
                    td
                        select.form-control(ng-model='$ctrl.request.status', name='status', nl-data-filter, ng-model-options='{ debounce: 100 }')
                            option(selected, translate='TICKET.GRID.STATUSES.ALL')
                            option(value='new', translate='TICKET.GRID.STATUSES.NEW')
                            option(value='pending', translate='TICKET.GRID.STATUSES.PENDING')
                            option(value='resolved', translate='TICKET.GRID.STATUSES.RESOLVED')
                    td
                    td
            tbody
                tr(ng-repeat-start='row in $ctrl.data')
                    td 
                        button.btn.btn-link.btn-xs(ng-click='$ctrl.view(row)', ng-if='$ctrl.policy.view(row)')
                            i.fa.fa-eye
                            | &nbsp;{{ ::row.id }} 
                    td {{ ::row.requester.name }}
                    td {{ ::row.requester.email }}
                    td {{ ::row.subject }}
                    td {{ row.status }}
                    td 
                        time-ago(from-time='{{ ::row.created_at }}')
                    td.text-center
                        button.btn.btn-link.btn-xs(ng-click='$ctrl.view(row)', ng-if='$ctrl.policy.view(row)')
                            i.fa.fa-eye
                        button.btn.btn-link.btn-xs(nl-promise-click='$ctrl.status(row)', ng-if='$ctrl.policy.status(row)', promising='sdp', ng-disabled='sdp', ladda='sdp', data-style='zoom-in', data-spinner-color='#000000')
                            i.fa.fa-superpowers
                        button.btn.btn-link.btn-xs(nl-promise-click='$ctrl.destroy(row)', ng-if='$ctrl.policy.destroy(row)', promising='dp', ng-disabled='dp', ladda='dp', data-style='zoom-in', data-spinner-color='#000000')
                            i.fa.fa-trash
                tr(ng-repeat-end)
                    td(colspan='7', ng-if='row.show')
                        nlc-ticket-view(ticket='row')
                            | Loading
        ul.pagination-sm.pull-right(uib-pagination, total-items="$ctrl.total", ng-model="$ctrl.request.page", boundary-links="true", items-per-page='$ctrl.request.limit', ng-change='$ctrl.refresh()',num-pages='totalPages')

        span(translate='DATA.LABEL.ROWS',translate-values='{ from: $ctrl.from, to: $ctrl.to, total: $ctrl.total }')