.portlet.box.mt-bootstrap-tables
    .portlet-title
        .caption
            i.fa.fa-table
        .actions-custom
            .btn-group.btn-group-devided
                button.btn.green-haze(nl-promise-click='$ctrl.store()', ng-if='$ctrl.policy.store()', promising='sdp', ng-disabled='sdp', ladda='sdp')
                    i.fa.fa-plus(aria-hidden='true') 
                    translate USER.GRID.ACTIONS.STORE
                
                
    .portlet-body
        nl-data-progress(promise='$ctrl.promise')
        table.table.table-condensed.table-striped.table-advance.table-bordered.table-hover(nl-data='$ctrl.request', on-refresh='$ctrl.refresh()')
            thead
                tr
                    th.nl-data-sortable.col-sm-2(nl-data-order-by='firstname')
                        translate USER.GRID.FIRSTNAME
                    th.nl-data-sortable.col-sm-2(nl-data-order-by='lastname')
                        translate USER.GRID.LASTNAME
                    th.nl-data-sortable.col-sm-3(nl-data-order-by='email')
                        translate USER.GRID.EMAIL
                    th.nl-data-sortable.col-sm-1(nl-data-order-by='role')
                        translate USER.GRID.ROLE
                    th.nl-data-sortable.col-sm-2(nl-data-order-by='created_at')
                        translate USER.GRID.CREATED_AT
                    th.col-sm-1.text-center
                        button.btn.btn-success.btn-xs.blue-ebonyclay(ng-click='$ctrl.refresh()', nl-promise='$ctrl.promise', promising='loading', ng-disabled='loading', ladda='loading', data-style='zoom-in', data-spinner-color='#FFFFFF')
                            i.fa.fa-refresh
            thead
                tr
                    td
                        input.form-control(type='text', ng-model='$ctrl.request.firstname', name='firstname', nl-data-filter, ng-model-options='{ debounce: 500 }')
                    td
                        input.form-control(type='text', ng-model='$ctrl.request.lastname', name='lastname', nl-data-filter, ng-model-options='{ debounce: 500 }')
                    td
                        input.form-control(type='text', ng-model='$ctrl.request.email', name='email', nl-data-filter, ng-model-options='{ debounce: 500 }')
                    td
                        select.form-control(ng-model='$ctrl.request.role', name='role', nl-data-filter, ng-model-options='{ debounce: 100 }')
                            option(selected, translate='USER.GRID.ROLES.ALL')
                            option(value='manager', translate='USER.GRID.ROLES.MANAGER')
                            option(value='admin', translate='USER.GRID.ROLES.ADMIN')
                    td
                    td
            tbody
                tr(ng-repeat='row in $ctrl.data')
                    td {{ ::row.firstname }} 
                    td {{ ::row.lastname }}
                    td {{ ::row.email }}
                    td {{ ::row.role }}
                    td 
                        time-ago(from-time='{{ ::row.created_at }}')
                    td.text-center
                        button.btn.btn-link.btn-xs(nl-promise-click='$ctrl.update(row)', ng-if='$ctrl.policy.update(row)', promising='udp', ng-disabled='udp', ladda='udp', data-style='zoom-in', data-spinner-color='#000000')
                            i.fa.fa-pencil
                        button.btn.btn-link.btn-xs(nl-promise-click='$ctrl.destroy(row)', ng-if='$ctrl.policy.destroy(row)', promising='dp', ng-disabled='dp', ladda='dp', data-style='zoom-in', data-spinner-color='#000000')
                            i.fa.fa-trash
        ul.pagination-sm.pull-right(uib-pagination, total-items="$ctrl.total", ng-model="$ctrl.request.page", boundary-links="true", items-per-page='$ctrl.request.limit', ng-change='$ctrl.refresh()',num-pages='totalPages')

        span(translate='DATA.LABEL.ROWS',translate-values='{ from: $ctrl.from, to: $ctrl.to, total: $ctrl.total }')

                